SUPABASE_URL=https://qdczmcttatoymwlxjtug.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkY3ptY3R0YXRveW13bHhqdHVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5MzA4NDcsImV4cCI6MjA5ODUwNjg0N30.vSGLka8d5lwELC6jqqLWUbAk0qBQxZ6YgH1k24TOhBQ
ADMIN_REGISTRATION_CODE=SANTANDER_ADMIN_2026