        <div id="nip-view" class="hidden-view">
            <header class="detail-header">
                <span class="material-icons-outlined icon-red back-btn">arrow_back</span>
                <h2>Generación de NIP</h2>
                <span class="material-icons-outlined icon-red">more_vert</span>
            </header>

            <div class="page-content cv-container">
                <div class="cvv-box">
                    <p>Tu NIP temporal es:</p>
                    <h1 id="dynamic-nip-number">----</h1>

                    <div class="timer-box">
                        <span class="material-icons-outlined">timer</span>
                        <span id="nip-timer">03:00</span>
                    </div>

                    <p class="cvv-warning">Este NIP es temporal y solo debe usarse para activar o validar tu tarjeta.
                    </p>

                    <button class="primary-action-btn mt-20" id="btn-regenerate-nip">Generar nuevo NIP</button>
                </div>
            </div>
        </div>
