        <div id="offers-view" class="hidden-view">
            <header class="detail-header">
                <span class="material-icons-outlined icon-red back-btn">arrow_back</span>
                <h2>Mis Ofertas</h2>
                <span class="material-icons-outlined icon-red">sentiment_satisfied_alt</span>
            </header>
            <div class="page-content" style="background-color: #F0F3F5;">
                <h3 style="margin-bottom: 16px; font-size: 16px; color: var(--text-dark);">Seleccionadas para ti</h3>

                <div class="offer-card">
                    <div class="offer-img" style="background-color: #1a3c71; color: white;">AEROMÉXICO</div>
                    <div class="offer-details">
                        <h4>Destinos Nacionales</h4>
                        <p>Paga solo el <strong>45%</strong> del total reservando 2 días antes.</p>
                        <span class="offer-tag">Viajes</span>
                    </div>
                </div>

                <div class="offer-card">
                    <div class="offer-img" style="background-color: #007A33; color: white;">STARBUCKS</div>
                    <div class="offer-details">
                        <h4>Bebidas 2x1</h4>
                        <p>Paga con tu Cuenta Digital y obtén 2x1 en bebidas preparadas.</p>
                        <span class="offer-tag">Alimentos</span>
                    </div>
                </div>

                <div class="offer-card">
                    <div class="offer-img" style="background-color: #FF5A5F; color: white;">AIRBNB</div>
                    <div class="offer-details">
                        <h4>Escapada de fin de semana</h4>
                        <p>Paga solo el <strong>60%</strong> del alojamiento con tu tarjeta virtual.</p>
                        <span class="offer-tag">Viajes</span>
                    </div>
                </div>
            </div>
        </div>
