        <div id="pay-cards-view" class="hidden-view">
            <header class="detail-header">
                <span class="material-icons-outlined icon-red back-btn">arrow_back</span>
                <h2>Pagar Tarjetas</h2>
                <span class="material-icons-outlined icon-red">more_vert</span>
            </header>
            <div class="page-content empty-state">
                <span class="material-icons-outlined empty-icon" style="color: #4CAF50;">verified</span>
                <h3>Estás al corriente</h3>
                <p>No tienes pagos pendientes en tus tarjetas de crédito asociadas en este momento.</p>
                <button class="primary-action-btn mt-20 btn-outline back-btn" style="width: 80%;">Regresar</button>
            </div>
        </div>
