        <div id="statement-view" class="hidden-view">
            <header class="detail-header">
                <span class="material-icons-outlined icon-red back-btn">arrow_back</span>
                <h2>Estado de cuenta</h2>
                <span class="material-icons-outlined icon-red statement-download-icon" id="btn-header-download-pdf"
                    style="cursor:pointer;">get_app</span>
            </header>
            <div class="statement-page">
                <div id="account-statement-document" class="santander-statement-doc"></div>
                <button type="button" class="statement-download-btn" id="btn-download-statement-pdf">
                    <span class="material-icons-outlined">picture_as_pdf</span>
                    Descargar estado de cuenta (PDF)
                </button>
            </div>
        </div>
