        <div id="topup-success-view" class="hidden-view">
            <div class="success-header-bg">
                <span class="material-icons-outlined success-icon-large">check_circle</span>
                <h2>Recarga exitosa</h2>
                <h1 id="success-topup-amount">$ 0.00</h1>
            </div>
            <div class="page-content" style="background-color: #F7F9FA;">
                <div class="receipt-box">
                    <div class="receipt-row"><span class="receipt-label">Número</span><span class="receipt-value"
                            id="success-topup-phone">---</span></div>
                    <div class="receipt-row"><span class="receipt-label">Compañía</span><span class="receipt-value"
                            id="success-topup-company">---</span></div>
                    <div class="receipt-row"><span class="receipt-label">Fecha</span><span class="receipt-value"
                            id="success-topup-date">---</span></div>
                    <div class="receipt-row"><span class="receipt-label">Autorización</span><span
                            class="receipt-value">018273</span></div>
                </div>
                <button class="primary-action-btn mt-20 btn-home-action">Volver al inicio</button>
            </div>
        </div>
