        <div id="topup-view" class="hidden-view">
            <header class="detail-header">
                <span class="material-icons-outlined icon-red back-btn">arrow_back</span>
                <h2>Recargar Celular</h2>
                <span class="material-icons-outlined icon-red">more_vert</span>
            </header>
            <div class="page-content">
                <div class="mock-form">
                    <label>Número de celular (10 dígitos)</label>
                    <input type="tel" id="topup-phone" value="4431318488" maxlength="10">
                    <label>Compañía telefónica</label>
                    <select id="topup-company">
                        <option>Telcel</option>
                        <option>AT&T</option>
                        <option>Movistar</option>
                    </select>
                    <label>Monto de la recarga</label>
                    <select id="topup-amount">
                        <option value="50.00">$ 50.00</option>
                        <option value="100.00" selected>$ 100.00</option>
                        <option value="200.00">$ 200.00</option>
                    </select>
                    <button class="primary-action-btn mt-20" id="btn-do-topup">Recargar Ahora</button>
                </div>
            </div>
        </div>
